@charset "UTF-8";
/************************************************************
 * 侧边栏
 */

.el-aside {
}

.m-aside {
  position: fixed;
  z-index: 10;
  top: 61px;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &-inner{
    width: 260px;
    padding: 40px 20px 60px 60px;
  }
}
