@charset "utf-8";

/******************************
 * 全局变量
 */

// @font-face { 
//     font-family: 'Roboto-Regular'; /*这里是说明调用来的字体名字*/ 
//     src: url('~/assets/font/Roboto-Regular.ttf'); /*这里是字体文件路径*/ 
// }
// @font-face { 
//     font-family: 'Roboto-bold'; /*这里是说明调用来的字体名字*/ 
//     src: url('~/assets/font/Roboto-Bold.ttf'); /*这里是字体文件路径*/ 
// }
// @font-face { 
//     font-family: 'Roboto-light'; /*这里是说明调用来的字体名字*/ 
//     src: url('~/assets/font/Roboto-Light.ttf'); /*这里是字体文件路径*/ 
// }
html,
body{
    font-family: 'Roboto-Regular';
}
.f-bold{
    font-family: 'Roboto-bold'
}
.f-light{
    font-family: 'Roboto-light';
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset !important;
}
.el-dialog__body{
    line-height:1 !important
}
.el-dialog__wrapper{
    position: relative;
    text-align:center;
}
.el-dialog__wrapper::before{
    content: " "; 
    display: inline-block; 
    height: 100%; 
    width: 1%; 
    vertical-align: middle;
}
.el-dialog__wrapper{
    .el-dialog{
        display: inline-block; 
        vertical-align: middle;
        margin:0 auto !important
    }
}
// .el-dialog{
//     margin:0 !important;
//     position: absolute; 
//     top: 50%; left: 50%; 
//     -webkit-transform: translate(-50%, -50%); 
//     transform: translate(-50%, -50%); 
// }
.w-e-toolbar .w-e-menu{
    text-align:left;
}
.w-e-toolbar .w-e-droplist ul.w-e-list li.w-e-item {
    padding-left: 10px;
}
input::-webkit-input-placeholder{color:#D4D6DB !important;}
@import 'var'; //其他
@import 'color'; //颜色
@import 'iconfont'; //字体图标
@import 'mixin'; //mixin生产
@import 'cssproperty'; //css属性生产（主要css3）
@import 'transition'; //其他
@import 'reset'; //其他
